alchemy==20.5
certifi==2022.12.7
chardet==3.0.4
docutils==0.19
filelock==3.0.12
idna==2.8
lockfile==0.12.2
python-daemon==2.2.4
requests==2.22.0
urllib3==1.25.11
sqlalchemy==1.4.46
bcrypt==4.0.1
cffi==1.14.6
cryptography==3.4.8
pycparser==2.20
pycryptodome==3.10.4
pycryptodomex==3.10.4
pyOpenSSL==20.0.1
six==1.16.0
Flask==2.0.2
```

